{% extends 'base.html.twig' %}

{% block title %}Liste des Formations{% endblock %}

{% block body %}

    <h1 class="title mb-4">Liste des Formations</h1>
    <div class="center">
        <a class="btn btn-success linkBtn" href="{{ path('new_module') }}">Ajouter une Formation</a>
    </div>
    <div id="container-formation">
        {% for formation in formations %}  
            <div class="link card-formation">
                <a class="link-shadowFormation formation-card-items">{{ formation.intitule }}</a>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}
