{# Étend le template de base.html.twig #}
{% extends 'base.html.twig' %}

{# Définit le contenu du bloc 'title' qui sera utilisé dans le template parent base.html.twig #}
{% block title %}Liste des Sessions{% endblock %}

{% block body %}
    <h1 class="title">Les Sessions</h1>
    
{% endblock %}