<h1>Dear {{ stagiaire }} !</h1>

<div>
    <p>I hope this email finds you well.</p>
    
    <p>I am writing to inform you that we have successfully received your registration for the upcoming session. Your request is currently under review, and we will notify you of the status shortly.</p>
    
    <p>Once our team has examined your registration, you will receive a follow-up email with details confirming your successful enrollment in the session.</p>
    
    <p>Thank you for choosing Elan Formation ! If you have any questions or need further assistance, please do not hesitate to contact us at contact@elan-formation.fr.</p>
</div>
<div>
    <p>
        Best regards,
        Jade ROUSSET
        Administration
        ELAN Formation
        jade@elan-formation.fr
    </p>
</div>
