{% extends 'base.html.twig' %}

{% block title %}Liste des Modules{% endblock %}

{% block body %}

    <h1 class="title">{{ categorie|raw }}</h1>
    <div class="center"><a class="btn btn-success linkBtn" href="{{ path('new_module') }}">Ajouter un Module</a>
    </div>
    <div id="container">
        <div class="card-container">
            {% for module in categorie.modules %}
             <div class="card-module">
                 <h2 class="card-items">{{ module.nom }}</h2>
             </div>
             {% endfor %}
        </div>
    </div>
    

{% endblock %}
