{% extends 'base.html.twig' %}

{% block title %}Liste des Modules{% endblock %}

{% block body %}

    <h1>{{ categorie|raw }}</h1>
    <div id="container-formation">
        <div class="card-container">
            <div class="link card-formation">
                {% for module in categorie.modules %}
                    <h2 class="formation-card-items">{{ module.nom }}</h2></h2>
                {% endfor %}
            </div>
        </div>
    </div>
    

{% endblock %}
